.top_css {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3154;
  }
  .profile_10 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3153;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3772px;
    top: 471px;
    width: 32px;
    height: 49px;
    z-index: 3152;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3763px;
    top: 471px;
    width: 49px;
    height: 49px;
    z-index: 3151;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3150;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3648.937px;
    top: 457.9px;
    z-index: 3149;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3650.263px;
    top: 489.848px;
    z-index: 3148;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3565px;
    top: 458px;
    width: 74px;
    height: 74px;
    z-index: 3146;
  }
  .profile_9 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3144;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3485px;
    top: 471px;
    width: 32px;
    height: 49px;
    z-index: 3143;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3476px;
    top: 471px;
    width: 49px;
    height: 49px;
    z-index: 3142;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3141;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3361.937px;
    top: 457.9px;
    z-index: 3140;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3363.263px;
    top: 489.848px;
    z-index: 3139;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3278px;
    top: 458px;
    width: 74px;
    height: 74px;
    z-index: 3137;
  }
  .profile_8 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3135;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3772px;
    top: 371px;
    width: 32px;
    height: 49px;
    z-index: 3134;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3763px;
    top: 371px;
    width: 49px;
    height: 49px;
    z-index: 3133;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3132;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3648.937px;
    top: 357.9px;
    z-index: 3131;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3650.263px;
    top: 389.848px;
    z-index: 3130;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3565px;
    top: 358px;
    width: 74px;
    height: 74px;
    z-index: 3128;
  }
  .profile_7 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3126;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3485px;
    top: 371px;
    width: 32px;
    height: 49px;
    z-index: 3125;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3476px;
    top: 371px;
    width: 49px;
    height: 49px;
    z-index: 3124;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3123;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3361.937px;
    top: 357.9px;
    z-index: 3122;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3363.263px;
    top: 389.848px;
    z-index: 3121;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3278px;
    top: 358px;
    width: 74px;
    height: 74px;
    z-index: 3119;
  }
  .profile_6 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3117;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3772px;
    top: 271px;
    width: 32px;
    height: 49px;
    z-index: 3116;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3763px;
    top: 271px;
    width: 49px;
    height: 49px;
    z-index: 3115;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3114;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3648.937px;
    top: 257.9px;
    z-index: 3113;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3650.263px;
    top: 289.848px;
    z-index: 3112;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3565px;
    top: 258px;
    width: 74px;
    height: 74px;
    z-index: 3110;
  }
  .profile_5 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3108;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3485px;
    top: 271px;
    width: 32px;
    height: 49px;
    z-index: 3107;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3476px;
    top: 271px;
    width: 49px;
    height: 49px;
    z-index: 3106;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3105;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3361.937px;
    top: 257.9px;
    z-index: 3104;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3363.263px;
    top: 289.848px;
    z-index: 3103;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3278px;
    top: 258px;
    width: 74px;
    height: 74px;
    z-index: 3101;
  }
  .profile_4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3099;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3772px;
    top: 171px;
    width: 32px;
    height: 49px;
    z-index: 3098;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3763px;
    top: 171px;
    width: 49px;
    height: 49px;
    z-index: 3097;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3096;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3648.937px;
    top: 157.9px;
    z-index: 3095;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3650.263px;
    top: 189.848px;
    z-index: 3094;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3565px;
    top: 158px;
    width: 74px;
    height: 74px;
    z-index: 3092;
  }
  .profile_3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3090;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3485px;
    top: 171px;
    width: 32px;
    height: 49px;
    z-index: 3089;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3476px;
    top: 171px;
    width: 49px;
    height: 49px;
    z-index: 3088;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3087;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3361.937px;
    top: 157.9px;
    z-index: 3086;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3363.263px;
    top: 189.848px;
    z-index: 3085;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3278px;
    top: 158px;
    width: 74px;
    height: 74px;
    z-index: 3083;
  }
  .profile_2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3081;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3772px;
    top: 71px;
    width: 32px;
    height: 49px;
    z-index: 3080;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3763px;
    top: 71px;
    width: 49px;
    height: 49px;
    z-index: 3079;
  }
  .top_affiliation_txt2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3078;
  }
  .top_affiliation_txt2_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3648.937px;
    top: 57.9px;
    z-index: 3077;
  }
  .top_affiliation_txt2_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3650.263px;
    top: 89.848px;
    z-index: 3076;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3565px;
    top: 58px;
    width: 74px;
    height: 74px;
    z-index: 3074;
  }
  .profile_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3072;
  }
  .top_ic_mic_n.active {
    background-image: url("top_ic_mic_p.png");
    position: absolute;
    left: 3485px;
    top: 71px;
    width: 32px;
    height: 49px;
    z-index: 3071;
  }
  .top_ic_mic_n {
    background-image: url("top_ic_mic_n.png");
    opacity: 0.502;
    position: absolute;
    left: 3476px;
    top: 71px;
    width: 49px;
    height: 49px;
    z-index: 3070;
  }
  .top_affiliation_txt1_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3840px;
    height: 2160px;
    z-index: 3069;
  }
  .top_affiliation_txt1_3 {
    font-size: 26px;
    font-family: "Noto Sans CJK KR";
    color: rgb(26, 26, 26);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3361.937px;
    top: 57.9px;
    z-index: 3068;
  }
  .top_affiliation_txt1_2 {
    font-size: 32px;
    font-family: "Noto Sans CJK KR";
    color: rgb(87, 150, 217);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 3363px;
    top: 90.127px;
    z-index: 3067;
  }
  .top_ic_profile_n.active {
    background-image: url("top_ic_profile_p.png");
    position: absolute;
    left: 3278px;
    top: 58px;
    width: 74px;
    height: 74px;
    z-index: 3065;
  }
  .top_ic_profile_n {
    background-image: url("top_ic_profile_n.png");
    position: absolute;
    left: 3280px;
    top: 60px;
    width: 70px;
    height: 70px;
    z-index: 3064;
  }
  .top_bg {
    border-width: 1px;
    border-color: rgb(76, 153, 61);
    border-style: solid;
    background-color: rgb(250, 252, 255);
    position: absolute;
    left: 3249px;
    top: 29px;
    width: 590px;
    height: 530px;
    z-index: 3062;
  }
  